<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>The Insert date in AccessRecord</h1>
        <form method="POST">
            <h1>{% csrf_token %}</h1>
            <label for="topic">name</label>

            <select name="topic" id="name">
                {% for wo in topic %} 
                <option value="{{wo}}">{{wo.name}}</option>
                {% endfor %}
            </select>
            <br>
            
            <label for="a">author</label>
            <input type="text" name="a" id="a"><br>
            <label for="d">date</label>
            <input type="date" name="d" id="d"><br>
            <input type="submit" value="accessrecord">
        </form>
    </center>
    
</body>
</html>